---
layout: codinggrace
events: {{collections.events}}
---


<div class="bg-white">
  <div class="max-w-7xl mx-auto py-10 px-4 sm:py-10 sm:px-6 lg:px-8">
    <div class="text-center">
      {# <h2 class="text-base font-semibold text-indigo-600 tracking-wide uppercase">Coding Grace</h2> #}
      <img class="object-scale-down h-48 w-full" src="/static/img/cg-logo.png" alt="Coding Grace Logo">
      <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Events Listings</p>
    </div>
  </div>
</div>


{% set eventlist = collections.events %}
<div class="bg-white pt-16 pb-10 px-4 sm:px-6 lg:pt-24 lg:pb-10 lg:px-8">
  <div class="relative max-w-lg mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl">
    <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
      Current Events and Workshops
    </h2>
    <div class="mt-5 grid gap-16 pt-5 lg:grid-cols-3 lg:gap-x-5 lg:gap-y-12">   
      {% set current_events = eventlist | laterItemList | sort(attribute='data.start_datetime') | reverse %}

      {% for event in current_events %}
        {% if event.data.published %}
          {% include "./_includes/partials/event-summary.html" %}
        {% else %}
          ↻ Check back soon for events.
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="bg-white pt-16 pb-10 px-4 sm:px-6 lg:pt-24 lg:pb-10 lg:px-8">
  <div class="relative max-w-lg mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl">
    <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
      Past Events
    </h2>
    <div class="mt-5 grid gap-16 pt-5 lg:grid-cols-3 lg:gap-x-5 lg:gap-y-12">
      {% set old_events = eventlist | OldItemList | sort(attribute='data.start_datetime') | reverse | addYearToEvents %}
      <div>
        Following are all the events we have run to date, in total we have run {{ old_events | length }} events.
      </div>

      {% for when, events in old_events | groupby("data.year") | dictsort  |reverse %}
        
        <div class="bg-gray-50 p-5 shadow-md ">
          <h3>{{ when }} <span class="text-sm text-gray-500">(#events: {{ events | length}})</span></h3>
          {% for event in events %}
            <div class="w-full my-2 bg-white p-5 shadow-inner">
              <a href="{{ event.url }}" class="hover:text-yellow-500">{{event.data.title}}</a>
              
            </div>
          {% endfor %}
        </div>
      {% endfor %}

    </div>
  </div>

</div>

<!-- <div class="mb-10 mx-10 p-5">
  <h1>TESTING</h1>
    {% set currentYear = "" %}
    {% set old_events = eventlist | OldItemList | sort(attribute='data.start_datetime') | reverse | addYearToEvents %}
    <p>foo</p>
    <p>{{old_events}}</p>
   

    <div class="p-1 pb-5 px-5">
    {% for event in old_events %}
      {% set postYear = event.data.start_datetime.getFullYear() %}
      {% if currentYear != postYear %}
        {% set currentYear = postYear %}
        <h3 class="mt-5">{{ postYear }}</h3>
      {% endif %}
      <div><a href="{{ event.url }}">{{ event.data.title }}</a></div>
    {% endfor %}
  </div>

  <div class="p-1 pb-5 px-5">
    <p>foo</p>
    {% for when, events in old_events | groupby("data.year") %}
    <p>Year: {{ when }}</p>
    {% for event in events %}
    <p>event: {{event.data.title}}</p>
    {% endfor %}
    {% endfor %}
  </div>

</div> -->



