---
layout: default
prism: true
title: Test TAG entry 
description: Test tag description ddd
author: Vicky Twomey-Lee
date: 2021-05-16

pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---



<div class="container max-w-4xl mt-6  px-6">
  <div class="pb-5 mb-5 border-b border-gray-100">
      <h1 class="font-bold text-5xl">This is the tag listings for "{{ tag }}"</h1>
  </div>
  <article class="prose lg:prose-xl my-4 mx-auto">
    {% set taglist = collections[ tag ] %}
    <ul>
      
      {% for post in taglist | reverse %}
        <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
      {% endfor %}
    </ul>
  
    {% for post in taglist | reverse %}
      <div><a href="{{ post.url | url }}">{{ post.data.title }}</a></div>
    {% endfor %}
    </article>

</div>
  






