<div class="bg-white shadow mb-5 overflow-hidden sm:rounded-lg">
  <div class="px-4 pt-1 pb-5 sm:px-6 bg-gradient-to-r from-yellow-400 via-yellow-200 to-yellow-400">

    <div class="bg-white px-2 pb-1 rounded-md">
      {# <h3 class="text-lg leading-6 font-medium text-gray-900 ">
        Overview: {{title}}
      </h3> #}
      <p class="pt-5 text-2xl font-extrabold ">Overview: {{ title }}</p>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        {{description}}
      </p>
    </div>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Mentor(s)
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
            {% set comma = joiner() %}
           {% for m in mentors|list %}{{ comma() }} {{m }}{% endfor %}
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Level
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{ level }}
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Pre-requisites
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          TBC
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Price
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          FREE
        </dd>
      </div>
      <div class="sm:col-span-2">
        <dt class="text-sm font-medium text-gray-500">
          How
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{ how }}
        </dd>
      </div>
    </dl>
  </div>
</div>

