<div class="relative">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <div class="relative flex justify-center mt-20">
    <span class="px-2 bg-white text-sm text-gray-500">
      ❤️❤️❤️
    </span>
  </div>
</div>

{% if supporters or partners or sponsorships %} 
<div class="bg-white" id="supporters">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <p class="text-xl text-center text-base font-semibold uppercase text-gray-600 tracking-wider">
      🌈 A huge thanks to our supporter(s) and partner(s) 🌈 
    </p>
    {% if supporters %}
      <h5>Supporters</h5>
      <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
        {% for supporter in supporters %}
        <div class="col-span-1 flex justify-center py-8 px-8 bg-yellow-100 shadow-md hover:bg-yellow-200">
          <a href="{{ supporter.url }}" class="hover:text-gray-500">{{ supporter.url }}</a>
        </div>
        {% endfor %}
      </div>
    {% endif %}

    {# From imported events #}
    {% if sponsorships %} 
    <h5>Supporters</h5>
    <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
      {% for sponsorship in sponsorships %}
      <div class="col-span-1 flex justify-center p-6 m-2 bg-yellow-100 shadow-md hover:bg-yellow-200">
        {% for key, dets in sponsor_details %}
          {% if key == sponsorship.sponsor %}
            <a href="{{ dets.url }}" class="hover:text-gray-500">{{ dets.name}}</a>
          {% endif %}
        {% endfor %}
          {# <a href="{{ sponsorship.sponsor.url }}" class="hover:text-gray-500">{{ sponsorship.sponsor.name}}</a> #}
      </div>
      {% endfor %}
    </div>
  {% endif %}

    {% if partners %}
      <h5 class="mt-5">Partners</h5>
      <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
        {% for partner in partners %}
        <div class="col-span-1 flex justify-center py-8 px-8 bg-yellow-100 shadow-md hover:bg-yellow-200">
          <a href="{{ partner.url }}" class="hover:text-gray-500">{{ partner.org }}</a>
        </div>
        {% endfor %}
      </div>
    {% endif %}

  </div>
</div>
{% else %}
<div class="bg-white" id="supporters">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <p class="text-xl text-center text-base font-semibold uppercase text-gray-600 tracking-wider">
      🌈 A huge thanks to our supporter(s) and partner(s) 🌈 
    </p>
      <h5>Supporters</h5>
      <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
        
        <div class="col-span-1 flex justify-center py-8 px-8 bg-yellow-50 shadow-md hover:bg-yellow-200">
          🏢 Interested? Contact us.
        </div>
      </div>
</div>
{% endif %}