<div class="bg-white shadow mb-5 overflow-hidden sm:rounded-lg ">
  <div class="px-4 pt-1 pb-5 sm:px-6 bg-gradient-to-r from-yellow-400 to-yellow-500">

    <div class="bg-white px-5 pb-1 rounded-md">
      {# <h3 class="text-lg leading-6 font-medium text-gray-900 ">
        Overview: {{title}}
      </h3> #}
      <p class="pt-5 text-2xl font-extrabold ">Overview: {{ title }}</p>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        {{short_description}}
      </p>
    </div>
  </div>
  
  <div class="px-4 py-5 sm:px-6 border-l-4 border-b-4 border-r-4 border-yellow-400">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Mentor(s)
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
            {% set comma = joiner() %}
            {% if mentors %}
              {% for m in mentors|list %}{{ comma() }} <a href="{{ m.url }}">{{ m.first_name }} {{ m.last_name }}</a>{% endfor %}
            {% else %} 
              TBC
            {% endif %}
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Level
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{ level }}
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Pre-requisites
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          TBC
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Price
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {% if cost == 0 %}Free {% else %}{{ cost }} {% endif %}
        </dd>
      </div>

      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Location
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {% if "online" in tags %}
            Online
          {% else %} 
            <address>
              {{ location.address1 }}, {% if location.address2 %}{{ location.address2 }}{% endif %} {{location.city | capitalize  }}, {{ location.country | capitalize }}
            </address>
          {% endif %}
        </dd>
      </div>

      {% if how %}
      <div class="sm:col-span-2">
        <dt class="text-sm font-medium text-gray-500">
          How
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{ how }}
        </dd>
      </div>
      {% endif %}

    
    </dl>
  </div>
</div>

